{% extends "layout/base.html" %}
{% block title %}
Pendafaran Skema Beasiswa
{% endblock %}

{% block content %}
<div class="c15572">
    <br></br>
        <b>FORM PENDAFTARAN PAKET BEASISWA</b>
    <br></br>
      </div>
      <div class="c10462">
      </div>
      <div class="c10462">
      </div>
      <div class="c10462">
      </div>
      <form class="form" method="POST" action="{% url 'pendaftaran_skema:daftar_paket'%}"> 
        {% csrf_token %}
        <div class="form-group">
          <div id="ij1twq" class="row">
            <div id="ixain6" class="cell">
              <p align="left" style="font-size:17px">Kode</p>
            </div>
            <div class="cell">
              <input name="kode" required class="input"/>
            </div>
          </div>
          <div class="row c7717">
            <div id="iumm9a" class="cell">
                  <p align="left" style="font-size:17px">Nama Paket Beasiswa</p>
            </div>
            <div class="cell">
              <input name="nama" required class="input"/>
            </div>
          </div>
          <div class="row c7717">
            <div id="ivuyvb" class="cell">
                  <p align="left" style="font-size:17px">Jenis Paket Beasiswa</p>
            </div>
            <div class="cell">
              <select name="jenis" class="select"><option value="">- Select option -</option><option value="1">Beasiswa prestasi akademik</option><option value="2">Beasiswa bantuan belajar</option><option value="3">Beasiswa tugas akhir</option></select>
            </div>
          </div>
          <div class="row c7717">
            <div id="irs8aq" class="cell">
                  <p align="left" style="font-size:17px">Deskripsi</p>
            </div>
            <div class="cell">
              <input name="deskripsi" required class="input"/>
            </div>
          </div>
          <div class="row c7717">
            <div id="ixoftq" class="cell">
                  <p align="left" style="font-size:17px">Syarat Beasiswa</p>
            </div>
            <div class="cell">
              <input name="syarat" required class="input"/>
            </div>
          </div>
          <div class="form-group">
            <button type="submit" class="button">Submit</button>
          </div>
        </div>
      </form>
{% endblock %}
