{% extends "layout/base.html" %}
{% block title %}
Pendafaran Skema Beasiswa
{% endblock %}

{% block content %}
<div class="c16245">
<br> </br>
<b id="i3g65h">FORM PENDAFTARAN TAMBAH BEASISWA DARI PAKET</b>
<br> </br>
</div><div class="c10462"></div><div class="c10462">
</div><div class="c10462">
</div><form class="form"><div class="row" id="i0mni9"><div class="cell" id="i50cid"><p align="left" style="font-size:17px">Kode Beasiswa</p></div><div class="cell"><select required="" class="select"><option value="">- Select option -</option><option value="1">Option 1</option><option value="2">2</option><option value="3">3</option></select></div></div><div class="row c16739"><div class="cell" id="igsnef"><p align="left" style="font-size:17px">Nomor Urut</p></div><div class="cell"><input required="" type="text" class="input"/></div></div><div class="row c16739"><div class="cell" id="ita0vf"><p align="left" style="font-size:17px">Tanggal Mulai Pendaftaran</p></div><div class="cell"><input type="date" value="<?php echo date('Y-m-d'); ?>" required="" id="ivpd3jm" class="c5835"/></div></div><div class="row c16739"><div class="cell" id="i5wesq"><p align="left" style="font-size:17px">Tanggal Tutup Pendaftaran</p>
</div><div class="cell"><input type="date" value="<?php echo date('Y-m-d'); ?>" required="" class="c18413"/></div></div><div class="form-group"></div><div class="form-group"></div><div class="form-group"></div><div class="form-group"><button type="submit" class="button">Submit</button></div></form></section><section class="flex-sect"><div class="c10462">
</div><div class="c10462">
{% endblock %}