{% extends "layout/base.html" %}
{% block title %}
Tempat Wawancara
{% endblock %}
{% block content %}
<br><br><br>

<style>
    #yellowform {
    background-color: #ffeb3b;
    width: 60%;
  }
</style>

<div class="w3-container">
      <center>
        <div class="judul">
            <h1> Buat Pengumuman </h1>
            <hr style="width:60%">
        </div>
        <div id="yellowform">
          <br><br>
          <form action="/pengumuman/submit-pengumuman" method="POST">
            {% csrf_token %}
            <table>
              <tr>
              <th><label for="pengumumannourut"> No Urut Skema Beasiswa &nbsp;&nbsp; </label></th>
              <th><input type="number" align="left" id="pengumumannourut" name="pengumumannourut" required></th>
              </tr>

              <tr><th>&nbsp;</th></tr>

              <tr>
              <th><label for="pengumumankodeskema"> Kode Skema Beasiswa  &nbsp;&nbsp; </label></th>
              <th><input type="number" align="left" id="pengumumankodeskema" name="pengumumankodeskema" required></th>
              </tr>

              <tr><th>&nbsp;</th></tr>

              <tr>
              <th><label for="pengumumanjudul"> Judul &nbsp;&nbsp; </label></th>
              <th><input type="text" align="left" id="pengumumanjudul" name="pengumumanjudul" required></th>
              </tr>

              <tr><th>&nbsp;</th></tr>

              <tr>
              <th><label for="pengumumanisi"> Isi Pengumuman &nbsp;&nbsp; </label></th>
              <th><input type="text" align="left" id="pengumumanisi" name="pengumumanisi" required></th>
              </tr>
            </table>
            <br><br>
            <a href="/"><button class="w3-button w3-round w3-black"><b>Submit</b></button></a>
          </form>
          <br><br>
          <p id="demo"></p>
          </div>
      </center>
</div>
{% endblock %}