{% extends "layout/base.html" %}
{% block title %}
Daftar Pengumuman
{% endblock %}
{% block content %}
<br><br><br>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<style>
	#customers {
    border-collapse: collapse;
    width: 100%;
	}

	#customers td, #customers th {
	    border: 1px;
	    padding: 8px;
	}

	#customers tr:nth-child(even){background-color: #f2f2f2;}

	#customers tr:hover {background-color: #ddd;}

	#customers th {
	    padding-top: 12px;
	    padding-bottom: 12px;
	    text-align: left;
	    background-color: #ffeb3b;
	    color: black;
	}
</style>

<div class="w3-container">
      <center>
        <div class="judul">
            <h1> Daftar Pengumuman </h1>
            <hr style="width:60%">
        </div>
        <table id="customers" style="width:60%">
		  <tr>
		    <th>Tanggal</th>
		    <th>Judul</th>
		    <th>Pembuat</th>
		    <th>Detail</th>
		  </tr>
		  {% for i in data %}
		  <tr>
		    <td>{{i.tanggal}}</td>
		    <td>{{i.judul}}</td>
		    <td>{{i.username}}</td>
		    <td>
		    	<div class="w3-container">
				  <button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-black">See Details</button>
				  <div id="id01" class="w3-modal">
				    <div class="w3-modal-content">
				      <div class="w3-container" style="background-color: #ffeb3b">
				        <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright">&times;</span>
				        <br>
				        <h3 align="center"><b>{{i.judul}} - {{i.kode}} - {{i.no_urut}}</b></h3>
				        <p align="center"><font size="2">ditulis oleh {{i.username}} pada {{i.tanggal}}</font></p>
				        <br>
				        <p>{{i.isi}}</p>
				        <br>
				      </div>
				    </div>
				  </div>
				</div>
		    </td>
		  </tr>
		  {% endfor %}
		</table>    
      </center>
</div>
{% endblock %}