<div class="w3-bar w3-black w3-card">
  <div class="w3-bar-item w3-yellow"><b>BEASISWA SIMBION</b></div>
  <a href="/" ><button class="w3-bar-item w3-button">Home</button></a>
  {% if not username %}
  <div id="not_logged">
    <a href="/account/register/" ><div class="w3-bar-item w3-right">Register</div></a>
    <a href="/account/login/" ><div class="w3-bar-item w3-right">Login</div></a>
  </div>
  {% elif role == "mahasiswa" %}
  <div id="logged">
    <a href="#" ><div class="w3-bar-item w3-button">Lihat Status Beasiswa</div></a>
    <a href="#" ><div class="w3-bar-item w3-button">Daftar Beasiswa</div></a>
    <a href="#" ><div class="w3-bar-item w3-button">Lihat Hasil Seleksi Beasiswa</div></a>
    <a href="/pengumuman/" ><div class="w3-bar-item w3-button">Lihat Pengumuman</div></a>
    <a href="/account/logout/" ><div class="w3-bar-item w3-right">Logout ({{username}})</div></a>
  </div>
  {% elif role == "individual_donor" or role == "yayasan"%}
  <div id="logged">
    <a href="/informasi_beasiswa_aktif/" ><div class="w3-bar-item w3-button">Lihat Beasiswa</div></a>
    <a href="/pendaftaran_skema/" ><div class="w3-bar-item w3-button">Membuat Beasiswa Baru</div></a>
    <a href="/pengumuman/" ><div class="w3-bar-item w3-button">Lihat Pengumuman</div></a>
    <a href="/pengumuman/buat-pengumuman/" ><div class="w3-bar-item w3-button">Membuat Pengumuman</div></a>
    <a href="/pembayaran/" ><div class="w3-bar-item w3-button">Pembayaran</div></a>
    <a href="/account/logout/" ><div class="w3-bar-item w3-right">Logout ({{username}})</div></a>
  </div>
  {% elif role == "admin" %}
  <div id="logged">
    <a href="#" ><div class="w3-bar-item w3-button">Lihat Tempat Wawancara</div></a>
    <a href="/wawancara/" ><div class="w3-bar-item w3-button">Membuat Tempat Wawancara</div></a>
    <a href="/pengumuman/" ><div class="w3-bar-item w3-button">Lihat Pengumuman</div></a>
    <a href="/pengumuman/buat-pengumuman/" ><div class="w3-bar-item w3-button">Membuat Pengumuman</div></a>
    <a href="/account/logout/" ><div class="w3-bar-item w3-right">Logout ({{username}})</div></a>
  </div>
  {% endif %}
</div>
