{% extends "layout/base.html" %}
{% block title %}
Informasi Beasiswa
{% endblock %}

{% block content %}
<br> </br>
</div><div class="container-width"><div class="flex-title">INFORMASI BEASISWA</div>
  <br> </br>
<div class="c28342">Nama Beasiswa :   Beasiswa Jamie Clayfield  dibuat oleh D1</div><div class="c28626">Deskripsi :     Beasiswa prestasi akademik oleh Jamie Clayfield</div><div class="c28730">Syarat Beasiswa :      Transkrip nilai</div>
<div class="form-group"><button type="submit" class="button">Daftar Beasiswa Ini</button></div></form></section></section></body><html>
    {% endblock %}