{% extends "layout/base.html" %}
{% block title %}
Home
{% endblock %}

{% block content %}
<br> </br>
</div><div class="container-width"><div class="flex-title">DAFTAR BEASISWA</div>
  <br> </br><div class="cards"><div class="card"><div class="card-body"><div class="card-title">Beasiswa Jamie Clayfield
</div><div class="card-sub-title">Beasiswa Jamie Clayfield</div><div class="card-desc">Periode Pendaftaran :17/03/2018 s.d. 29/04/2018</div><div class="card-desc">Status Beasiswa : dibuka</div><div class="card-desc">Jumlah Pendaftar : 0</div></div></div><div class="card"><div class="card-body"><div class="card-title">Beasiswa Genna Wilsdon
</div><div class="card-sub-title">Beasiswa Genna Wilsdon
</div><div class="card-desc"><span class="c14558">Periode Pendaftaran : </span>14/03/2018 s.d. 29/04/2018
</div><div class="card-desc">Status Beasiswa : dibuka</div><div class="card-desc">Jumlah Pendaftar : 0</div></div></div><div class="card"><div class="card-body"><div class="card-title">Beasiswa Kinna MacCard
</div><div class="card-sub-title">Beasiswa Kinna MacCard
</div><div class="card-desc"><span data-highlightable="1" class="c14620">Periode Pendaftaran : </span>27/03/2018 s.d. 01/05/2018
</div><div class="card-desc">Status Beasiswa : dibuka</div><div class="card-desc">Jumlah Pendaftar : 0</div></div></div><div class="card"><div class="card-body"><div class="card-title">Beasiswa Sven Shovlar
</div><div class="card-sub-title">Beasiswa Sven Shovlar
</div><div class="card-desc"><span class="c14682">Periode Pendaftaran : </span>12/03/2018 s.d. 01/05/2018
</div><div class="card-desc">Status Beasiswa : dibuka</div><div class="card-desc">Jumlah Pendaftar : 0</div></div></div><div class="card"><div class="card-body"><div class="card-title">Beasiswa Binnie Eddleston
</div><div class="card-sub-title">Beasiswa Binnie Eddleston
</div><div class="card-desc"><span class="c14744">Periode Pendaftaran : </span>28/03/2018 s.d. 03/05/2018
</div><div class="card-desc">Status Beasiswa : dibuka</div><div class="card-desc">Jumlah Pendaftar : 0</div></div></div><div class="card"><div class="card-body"><div class="card-title">Beasiswa Adorne Stoop
</div><div class="card-sub-title">Beasiswa Adorne Stoop
</div><div class="card-desc"><span class="c14806">Periode Pendaftaran : </span>22/03/2018 s.d. 02/05/2018
</div><div class="card-desc">Status Beasiswa : dibuka</div><div class="card-desc">Jumlah Pendaftar : 0</div></div></div></div></div></section><section class="flex-sect"><div class="c22081">

    {% endblock %}