{% extends "layout/base.html" %}
{% block title %}
Informasi Beasiswa Aktif
{% endblock %}

{% block content %}
<br> </br>
    </div><div class="container-width"><div class="flex-title">DAFTAR BEASISWA</div>
      <br> </br>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>No</th>
              <th>Nama Beasiswa</th>
              <th>Waktu Tutup Pendaftaran</th>
              <th>Status</th>
              <th>Jumlah Pendaftar</th> 
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td >Beasiswa Jamie Clayfield</td>
              <td>29 April 2018</td>
              <td>Dibuka</td>
              <td>0</td>
              <td><button href = "detail_beasiswa.html" type="button" style="background-color:black" class="btn btn-info" data-toggle="modal" data-target="#product_view">Lihat Beasiswa</button></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal fade product_view" id="product_view">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
                      <a href="#" data-dismiss="modal" class="class pull-right"><span class="glyphicon glyphicon-remove"></span></a>
                      <h3 class="modal-title">Beasiswa Penuh RFG Foundation Indonesia - 2</h3>
                  </div>
                  <div class="modal-body">
                    <div class="row">
                      <div class="col-md-6 product_content">
                        <p>Beasiswa penuh dibuat oleh D00002</p>
                        <p>ini hanyalah deskripsi yang menjelaskan beasiswa tersebut</p>
                        <p>Syarat: 
                                <span class="tags">Tidak Merokok</span> 
                                <span class="tags">Tidak Pernah Mengulang Mata Kuliah</span>
                                <span class="tags">Warga Negara Indonesia</span>
                        </p>
                        <div class="space-ten"></div>
                          <div class="btn-ground">
                            <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-heart"></span> Daftar Beasiswa</button>
                          </div>
                      </div>
                    </div>
                  </div>
          </div>
        </div>
      </div>
    </body>

{% endblock %}
