{% extends "layout/base.html" %}
{% block title %}
Home
{% endblock %}
{% block content %}
<br><br><br>
<div class="w3-container">
      <center>
          <div class="judul">
              <h1> Selamat Datang <strong>{{nama}}</strong><br> ({{role}})</h1>
              <hr style="width:60%">

          </div>
      </center>
  </div>

{% endblock %}
