{% extends "layout/base.html" %}
{% block title %}
Home
{% endblock %}
{% block content %}
<br><br><br>
<div class="w3-container">
      <center>
          <div class="judul">
              <h1>Daftar Tempat Wawancara</h1>
              <hr style="width:60%">
          </div>
          <div class="list">
          </div>
      </center>
  </div>

{% endblock %}