{% extends "layout/base.html" %}
{% block title %}
Tempat Wawancara
{% endblock %}
{% block content %}
<br><br><br>

<style>
    #yellowform {
    background-color: #ffeb3b;
    width: 30%;
  }
</style>

<div class="w3-container">
      <center>
        <div class="judul">
            <h1> Tempat Wawancara </h1>
            <hr style="width:60%">
        </div>
        <div id="yellowform">
          <br><br>
          <form action="/wawancara/submit-tempat-wawancara" method="POST">
            {% csrf_token %}
            <table>
              <tr>
              <th><label for="kodetempatwawancara"> Kode &nbsp;&nbsp; </label></th>
              <th><input type="text" align="left" id="kodetempatwawancara" name="kodetempatwawancara" required></th>
              </tr>

              <tr><th>&nbsp;</th></tr>

              <tr>
              <th><label for="namatempatwawancara"> Nama &nbsp;&nbsp; </label></th>
              <th><input type="text" align="left" id="namatempatwawancara" name="namatempatwawancara" required></th>
              </tr>

              <tr><th>&nbsp;</th></tr>

              <tr>
              <th><label for="lokasitempatwawancara"> Lokasi &nbsp;&nbsp; </label></th>
              <th><input type="text" align="left" id="lokasitempatwawancara" name="lokasitempatwawancara" required></th>
              </tr>
            </table>
            <br><br>
            <a href="/"><button class="w3-button w3-round w3-black"><b>Submit</b></button></a>
          </form>
          <br><br>
          <p id="demo"></p>
          </div>
      </center>
</div>
{% endblock %}