{% extends "layout/base.html" %}
{% block title %}
Input Failed
{% endblock %}
{% block content %}
<br><br><br>
<div class="w3-container">
      <center>
          <p><strong>Input gagal</strong>:<br> {{error}} {{isi}} sudah terdaftar</p>
      </center>
  </div>

{% endblock %}
