{% extends "layout/base.html" %}
{% block title %}
Pembayaran Beasiswa
{% endblock %}
{% block content %}
<br><br><br>

<style>
    #yellowform {
    background-color: #ffeb3b;
    width: 50%;
  }
</style>

<div class="w3-container">
      <center>
        <div class="judul">
            <h1> Form Laporan Pembayaran Beasiswa </h1>
            <hr style="width:60%">
        </div>
        <div id="yellowform">
          <form action="/pembayaran/submit-pembayaran/" method="POST">
            {% csrf_token %}
            <br>
            <table>
              <tr>
              <th><label for="pembayaranurutan"> Urutan &nbsp;&nbsp; </label></th>
              <th><input type="number" min=0 align="left" id="pembayaranurutan" name="pembayaranurutan" required></th>
              </tr>

              <tr><th>&nbsp;</th></tr>

              <tr>
              <th><label for="pembayarankodeskemabeasiswa"> Kode Skema Beasiswa &nbsp;&nbsp; </label></th>
              <th><input type="number" min=0 align="left" id="pembayarankodeskemabeasiswa" name="pembayarankodeskemabeasiswa" required></th>
              </tr>

              <tr><th>&nbsp;</th></tr>

              <tr>
              <th><label for="pembayarannourutskemabeasiswa"> Nomor Urut Skema Beasiswa &nbsp;&nbsp; </label></th>
              <th><input type="number" min=0 align="left" id="pembayarannourutskemabeasiswa" name="pembayarannourutskemabeasiswa" required></th>
              </tr>

              <tr><th>&nbsp;</th></tr>

              <tr>
              <th><label for="pembayarannpm"> NPM &nbsp;&nbsp; </label></th>
              <th><input type="text" align="left" id="pembayarannpm" name="pembayarannpm" required></th>
              </tr>

              <tr><th>&nbsp;</th></tr>

              <tr>
              <th><label for="pembayaranketerangan"> Keterangan &nbsp;&nbsp; </label></th>
              <th><input type="text" align="left" id="pembayaranketerangan" name="pembayaranketerangan" required></th>
              </tr>

              <tr><th>&nbsp;</th></tr>

              <tr>
              <th><label for="pembayarantanggalbayar"> Tanggal Bayar &nbsp;&nbsp; </label></th>
              <th><input type="date" align="left" id="pembayarantanggalbayar" name="pembayarantanggalbayar" required></th>
              </tr>

              <tr><th>&nbsp;</th></tr>

              <tr>
              <th><label for="pembayarannominal"> Nominal &nbsp;&nbsp; </label></th>
              <th><input type="text" align="left" id="pembayarannominal" name="pembayarannominal" required></th>
              </tr>
            </table>

            <br><br><a href="/"><button class="w3-button w3-round w3-black"><b>Submit</b></button></a>
          </form>
          <br>
        </div><br><br><br>
      </center>
</div>
{% endblock %}